.bundle
.dockerignore
.env
.env.*
.git
log
node_modules
public/uploads
public/system
public/assets
public/packs
tmp

# Ignore pidfiles, but keep the directory.
!/tmp/pids/
!/tmp/pids/.keep

vendor/bundle
